

    <head>
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
       <script>alert(window.FontAwesome.config)</script>
       <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/5d2b2a2f77.js" ></script>
        <link rel="stylesheet" href="./css/loader.css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>    <link href="./css/aos.min.css" rel="stylesheet" />
        <link href="/css/main.css" rel="stylesheet" />
        <link href="css/aos.min.css" rel="stylesheet" />
        <!-- <link href="/stylesheets/styleforLogin.css" rel="stylesheet"/> -->
        <script src="js/aos.js"></script>
        <script src="js/web3.min.js"></script>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <link rel="icon" href="/assets/images/icon.png" />
        <title>Login</title>
      </head>
