<!doctype html>
<html lang="en">

<body>
  
 <%- include('partials/header.ejs') %>
    
 <aside id="sidebar-wrapper">
  <div class="sidebar-brand">
    <h2><a  style="text-decoration: none;color:white;" href="/admin">Admin</a></h2>
  </div>
  <nav class="main-nav" role="navigation">
  <ul class="sidebar-nav unstyled list-hover-slide">
    
    <li>
      <a href="/staffadd"><i class="fa fa-book"></i>STAFF</a>
    </li>
    
    <li class="active">
      <a href="/delete"><i class="fa fa-trash"></i>Delete Hash</a>
    </li>
      <li >
        <a href="/addexporter"><i class="fa fa-circle-plus"></i>Add Exporter</a>
      </li>
      <li >
        <a href="/adminManual"><i class="fa fa-gear"></i>Manual</a>
      </li>
      
  </ul>
  </nav>
</aside>

    <div id="wrapper" class="nav-wrap">
        
      
      <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <h3 style="color: black;">Home Page</h3>
              
            </div>
           
          </div>
        </nav>
      </div>
      
      <div class="container">
        <div class="alert alert-danger d-none mt-2">
          Please download MetaMask at <a target="_blank" href="https://metamask.io/download">Metamask Site</a>
         </div>
        <div class="row content m-1"> 
          <div data-aos="fade-down" class="box wallet-status col-lg-12 d-flex flex-column my-2">
            <i class="fa-brands fa-connectdevelop icon" aria-hidden="true"></i>
            <span id="Exporter-info" class="p-1 mb-2"><span class="text-warning"></span></span>
            <span id="network" class="p-1"><span class="text-warning"></span></span>
           <span id="userAddress" class="p-1"><span class="text-warning"></span></span>
           <span id="userBalance" class="p-1"> <span class="text-warning"></span></span>
           
         
          </div>
        
          <div data-aos="zoom-in" class="col-lg-6 py-3 data-upload my-3 mx-md-2">
            <input onchange="get_Sha3()"  id="doc-file" type="file"/>
            
            <span id="note" class="text-danger"
              ></span
            >
            <img id="loader" class="d-none" src="./files/loader.svg" alt="loader">
            <input
            onclick="deleteHash()"
              class="btn  upload-button main-button"
              type="submit"
              value="Delete document"
              id="upload_file_button"
            />
          </div>
          
 
        
        </div>
      </div>
      
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <%- include('partials/footer.ejs') %>
   </body>
</html>