<!doctype html>
<html lang="en">


<%- include('partials/headerLogin.ejs') %>.



  <body>
    
      

    <!-- end of container -->
<br>

    <div style="padding-top: 38px;" class="modal-dialog modal-login">
      <div class="modal-content" style="opacity: 90%; background-color: black;">
        <div class="modal-header" >
          <img class="avatar"  src="../assets/images/avatar.png"  alt="Avatar" >
        </div><br>
        <h2 >WELCOME TO TTMSB</h2>
        <h4 >Login to your account</h4>
        
        <div class="modal-body">
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username" required="required">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" required="required" >
            </div>

            <div class="g-recaptcha" data-sitekey="6LcgQpQmAAAAAEvjdjFgQ6sQfSrwD0nLUWcUKbkh"></div>

            <button type="submit" id="login" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
            <!-- <div id="alertMessage" class="alert alert-danger" style="display: none;"></div> -->
            
        </div>

        <div class="modal-footer" style="opacity: 90%; background-color: black;">

          <a href="#" class="text-white">Forgot Password?</a>
        </div>
      </div>

    </div>
    </div>


    </div>


    </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include('partials/footer.ejs') %>
  </body>

</html>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
  // const loginForm = document.querySelector('form');
  // const alertMessage = document.getElementById('alertMessage');

  // loginForm.addEventListener('submit', (event) => {
  //   event.preventDefault();

  //   const username = loginForm.username.value;
  //   const password = loginForm.password.value;

  //   fetch('/login', {
  //     method: 'POST',
  //     headers: {
  //       'Content-Type': 'application/json'
  //     },
  //     body: JSON.stringify({ username, password })
  //   })
  //   .then(response => response.json())
  //   .then(data => {
  //     if (data.error) {
  //       alertMessage.textContent = data.error;
  //       alertMessage.style.display = 'block';
  //     } else {
  //       // Successful login
  //       window.location.href = '/admin';
  //     }
  //   })
  //   .catch(error => {
  //     console.error('Error:', error);
  //   });
  // });
  
       function onSubmit(token) {
         document.getElementById("login").submit();
       }
   
    $(document).ready(function() {
      $('#comment_form').submit(function() {
        $(this).ajaxSubmit({
          error: function(xhr) {
            status('Error: ' + xhr.status);
          },
         success: function(response) {
          console.log(response);
         }
        });
        //Very important line, it disable the page refresh.
        return false;
      });
    });
  </script>