<!doctype html>
<html lang="en">
  <body>
  
 <%- include('partials/header.ejs') %>
 
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Admin</h2>
    </div>
    <nav class="main-nav" role="navigation">
    <ul class="sidebar-nav unstyled list-hover-slide">
      <li>
        <a  href="/facultyView"><i class="fa fa-graduation-cap"></i> STUDENT</a>
      </li>
      <li>
        <a href="/subjectadd"><i class="fa fa-book"></i>COURSE</a>
      </li>
        <li >
          <a href="#"><i class="fa fa-gear"></i>SETTING</a>
        </li>
        
    </ul>
    </nav>
  </aside>

    <div id="wrapper" class="nav-wrap">
 
      <div class="loader-wraper">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <!--NavigationBar-->
      
  
      <!-- Body -->
      <div class="container">
        <div class="alert alert-danger d-none mt-2">
          Please download MetaMask at
          <a target="_blank" href="https://metamask.io/download">Metamask Site</a>
        </div>
        <!-- Wallet information -->
        <div class="row content m-1">
          <div data-aos="fade-down" class="box wallet-status col-lg-12 d-flex flex-column my-2">
            <i class="fa-brands fa-connectdevelop icon"></i>
            <span id="Exporter-info" class="p-1 mb-2"></span>
            <span id="userAddress" class="p-1">
              <span class="text-warning"></span>
            </span>
            <span id="network" class="p-1">
              <span class="text-warning"></span>
            </span>
            <span id="userBalance" class="p-1">
              <span class="text-warning"></span>
            </span>
          </div>
    
          <!-- upload form -->
          <div data-aos="zoom-in" class="col py-3 data-upload my-3">
            <input onchange="get_Sha3()" id="doc-file" type="file" accept="application/pdf, image/*" />
            <span id="note" class="text-danger"></span>
            <img id="loader" class="d-none" src="files/loader.svg" alt="loader" />
            <input onclick="sendHash()" class="btn upload-button main-button" type="submit" value="Upload document"
              id="upload_file_button" />
          </div>
        </div>
        <!-- Transaction information -->
        <div data-aos="zoom-in" class="box gx-0 my-3 row mx-md-2 transaction-status col-lg">
          <div class="left col-md-6 p-3 d-flex flex-column">
            <span class="p-2 info" id="transaction-hash"></span>
            <span class="p-2 info" id="file-hash"></span>
            <span class="p-2 info" id="contract-address"></span>
            <span class="p-2 info" id="time-stamps"></span>
            <span class="p-2 info" id="blockNumber"></span>
            <span class="p-2 info" id="blockHash"></span>
            <span class="p-2 info" id="to-netowrk"></span>
            <span class="p-2 info" id="gas-used"></span>
            <span class="btn-container">
              <button title="Download QR Code" onclick="modifyPdf()" id="download-link" class="download-link">
                Download Transcript with QR
              </button>
              <a target="_blank" title="Verify Document to check if the transaction successfully excuted ." href="#"
                id="verfiy" style="background-color: #727272;" class="download-link">
                Verify Document
              </a>
            </span>
          </div>
          <div id="qrcode" class="col-md-6 mt-md-2 d-flex justify-content-center align-items-center"></div>
        </div>
      </div>
  
      <!-- Showing recent transactions -->
      <div class="latest-tx mt-5">
        <h5 id="recent-header" class="text-white text-center">
          Recent Uploaded Documents
          <br />
          <i class="fa-solid fa-caret-down"></i>
        </h5>
      
        <div class="loading-tx d-none text-center">
          <img src="/files/tx-loading.svg" alt="" />
        </div>
        <div class="transactions row gy-2 gx-5 justify-content-center p-4"></div>
      </div>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <%- include('partials/footer.ejs') %>
   </body>
</html>